<h1>Beaux et services</h1>
<p>Cette page est dédiée à nos produits et services de qualité.</p>

<div class="homepage-div">
  <div class="container container-green">
    <div class="title-green"><h2>Nos services inclus</h2></div>
  </div>
    <div class="logo-display">
      <div class="column">
        <div class="logo-home">
          <i class="fa-solid fa-wifi fa-2xl" style="color: #56995e"></i>
          <p>Wi-Fi haut débit Fibre Optique</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-droplet fa-2xl" style="color: #56995e;"></i>
          <p>Toutes charges incluses Eau, Électricité, Internet, etc.</p>
        </div>
      </div>
      <div class="column">
        <div class="logo-home">
          <i class="fa-solid fa-question fa-2xl" style="color: #56995e;"></i>
          <p>Assistance 24/7 En cas de problème</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-jug-detergent fa-2xl" style="color: #56995e;"></i>
          <p>Tout équipé* Lave-vaisselle, Machine à laver, Sèche-linge, etc.</p>
        </div>
      </div>
      <div class="column">
        <div class="logo-home">
          <i class="fa-solid fa-broom fa-2xl" style="color: #56995e;"></i>
          <p>Ménage dans les parties communes 1 fois/2 semaines</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-tv fa-2xl" style="color: #56995e;"></i>
          <p>TV HD et abonnement Netflix*</p>
        </div>
      </div>
      <div class="column">
        <div class="logo-home">
          <i class="fa-solid fa-house-user fa-2xl" style="color: #56995e;"></i>
          <p>Logement éligible APL</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-tree fa-2xl" style="color: #56995e;"></i>
          <p>Grand jardin aménagé Barbecue, table de jardin, transats</p>
        </div>
      </div>
    </div>
  </div>
</div>
