<div class="banner_two">
<div class="container-title">
<h1>Le salon</h1>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://zupimages.net/up/24/35/orrb.jpg" class="d-block w-100" alt="jardin1">
    </div>
    <div class="col-md-6">
      <img src="https://zupimages.net/up/24/35/1amp.jpg" class="d-block w-100" alt="jardin2">
    </div>
  </div>
</div>


<div class="banner_two">
<div class="container-title">
<h1>Salle de bain & WC</h1>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://zupimages.net/up/24/35/qfkr.jpg" class="d-block w-100" alt="jardin1">
    </div>
    <div class="col-md-6">
      <img src="https://zupimages.net/up/24/35/dt0k.jpg" class="d-block w-100" alt="jardin2">
    </div>
  </div>
</div>

<style>
  /* Ajouter des styles CSS pour mobile ici */

  /* Pour changer l'ordre des éléments sur les appareils mobiles */
  @media (max-width: 767px) {
    .col-md-6 {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 95%;
    }

    /* Styles supplémentaires pour d'autres éléments mobiles ici */
  }
</style>
