<div class="banner_two">
<div class="container-title">
    <h1>Nous contacter</h1>
    <p>Surtout n'hésitez pas !</p>
</div>
</div>


<div class="homepage-div-green">
  <div class="contact-us">
    <h2>Contactez nous !</h2>
    <p style="text-align: center;">Mail : alcamaya.contact@gmail.com</p>
  </div>
  <div class="map-placement">
  <a href="https://www.google.com/maps/place/Ti-Gar+Redon/@47.6519675,-2.0881564,15z/data=!4m6!3m5!1s0x480f9c0e60fb9fa3:0x69270737af0dea09!8m2!3d47.6519675!4d-2.0881564!16s%2Fm%2F0crgkcc?entry=ttu"><img class="map-redon" src="https://zupimages.net/up/23/29/2trm.png" alt=""></a>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>

<style>
@media (max-width: 767px) {
    /* Ajoutez vos styles ici pour l'affichage sur les écrans plus petits */

    .homepage-div-one {
      display: block; /* Remplacer la disposition en grille par un affichage en bloc */
    }

    .homepage-div-text {
      margin: auto;
    }

    .button-space {
        text-align: center; /* Centrer les boutons */
        margin-top: 20px; /* Ajouter un espace entre les boutons */
        /* text-align: center; */
        margin-left: 0;
    }

    .logo-display-green {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px; /* Ajoutez un espacement entre les éléments si nécessaire */
    }

    .logo-home {
      margin-left: 20px;
      /* margin-bottom: 20px;  */
    }

    .homepage-div-two {
      display: block;
    }

    .homepage-div-text-need {
      margin: auto;
    }

    .homepage-div-green {
      display: block;
      align-items: center;
      justify-content: center;
      height: 100%%;
    }

    .contact-us {
      margin: auto;
    }

    .map-redon {
      width: 95%;
      height: 100%;
      /* margin: auto, */
      display: block;
      justify-content: center;
      align-items: center;
      /* height: 100%; */
      margin-top: 0;
      margin: auto;
      }
      /* Vous pouvez également ajuster la taille de la police, la marge, etc., pour une meilleure lisibilité sur les écrans plus petits. */
    /* .map-placement {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 0;
      } */
      /* Exemple d'ajustement de la taille de police pour les titres */
      .homepage-div h2 {
          font-size: 24px; /* Ajuster la taille de police selon vos besoins */
      }

      /* Exemple d'ajustement de la taille de police pour les paragraphes */
      .homepage-div p {
          font-size: 16px; /* Ajuster la taille de police selon vos besoins */
      }

      /* Ajoutez d'autres styles CSS au besoin pour personnaliser davantage votre mise en page pour les écrans plus petits */
  }
</style>
