<nav class="navbar-alcamaya">
    <%= link_to 'Accueil', root_path %>
    <%= link_to 'Appartements', houses_path %>
    <%= link_to 'Beaux et services', beaux_et_services_path %>
    <%= link_to 'Contact', contact_path %>
</nav>
