
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://static.wixstatic.com/media/9f5c91_8621987c84f247f38a24e0805d0c0152~mv2.jpg/v1/crop/x_0,y_106,w_1600,h_484/fill/w_1089,h_330,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/redon-1718_-_e-_berthier_edited.jpg);">
<div class="container-title">
    <h1>ALCAMAYA</h1>
    <p>Location & Colocation Redon</p>
</div>
</div>

<div class="homepage-div" style="display: grid; grid-template-columns: 8fr 4fr; gap: 20px;">
    <div class="homepage-div-text">
      <h2>Découvrez nos chambres et studios</h2>
      <p>Dans des logements fraichements refait à neuf, nous proposons une séléctions de chambres et studios sur un grand terrain dans Redon. La thématique : un logement de qualité, un cadre de vie agréable et des locataires respectueux les uns des autres et désireux de faire des rencontres !</p>
    </div>


  <div class="button-space" style="display: flex; flex-direction: column; align-items: center;">
  <button class="style-5">Cliquez ici pour voir nos logements</button>
  <button class="style-5">Cliquez ici pour nous contacter</button>
  </div>
</div>

<div class="homepage-div">
    <div class="logo-display-green">
        <div class="logo-home">
          <i class="fa-solid fa-wifi fa-2xl" style="color: #56995e"></i>
          <p>Wi-Fi haut débit Fibre Optique</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-droplet fa-2xl" style="color: #56995e;"></i>
          <p>Toutes charges incluses Eau, Électricité, Internet, etc.</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-question fa-2xl" style="color: #56995e;"></i>
          <p>Assistance 24/7 En cas de problème</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-jug-detergent fa-2xl" style="color: #56995e;"></i>
          <p>Tout équipé* Lave-vaisselle, Machine à laver, Sèche-linge, etc.</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-broom fa-2xl" style="color: #56995e;"></i>
          <p>Ménage dans les parties communes 1 fois/2 semaines</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-tv fa-2xl" style="color: #56995e;"></i>
          <p>TV HD et abonnement Netflix*</p>
        </div>

        <div class="logo-home">
          <i class="fa-solid fa-house-user fa-2xl" style="color: #56995e;"></i>
          <p>Logement éligible APL</p>
        </div>
        <div class="logo-home">
          <i class="fa-solid fa-tree fa-2xl" style="color: #56995e;"></i>
          <p>Grand jardin aménagé Barbecue, table de jardin, transats</p>
        </div>
    </div>
  </div>
</div>

<div class="homepage-div" style="display: grid; grid-template-columns: 6fr 6fr; gap: 20px;">
    <div class="homepage-div-text-need">
      <div class="element-button"><h3>Inclus dans la location</h3></div>
      <p>L'ensemble des services précédents sont inclus dans le loyer mensuel indiqué par chambre.</p>
      <p>Les services mentionnés avec un "*" ne sont pas inclus dans les studios.</p>
      <p>Les baux locatifs sont à titre individuel, chaque locataire aura son contrat, il n'y pas de solidarité entre les contrats.</p>
    </div>
    <div class="homepage-div-text-need">
      <div class="element-button"><h3>Ce que nous demandons</h3></div>
      <p>Nous demandons un dossier incluant les éléments suivants :</p>
      <ul>
        <li><strong>Document d'identité</strong></li>
        <li>Justificatif d'activité : <strong>Certificat de scolarité ou contrat de travail ou d'alternance ou de stage</strong></li>
        <li><strong>Justificatif d'activité d'un ou des garants</strong> : justificatif d'activité ou de propriété.</li>
        <li><strong>Une attestation d'assurance de responsabilité locative</strong></li>
      </ul>
      <p>Nous demandons à la signature une caution de l'équivalent d'un mois de loyer qui sera retournée à la fin du bail.</p>
      <p>Le contrat de bail prévoit un préavis de 1 mois.</p>
      <p>La durée minimale du bail est de 5 mois, les dossiers prévoyant une durée plus longue seront prioritaires.</p>
    </div>
</div>

<div class="homepage-div-green" style="display: grid; grid-template-columns: 6fr 6fr; gap: 20px;">
  <div class="contact-us">
    <h2>Contactez nous !</h2>
    <p style="text-align: center;">Mail : alcamaya.contact@gmail.com</p>
  </div>
  <div>
  <a href="https://www.google.com/maps/place/Ti-Gar+Redon/@47.6519675,-2.0881564,15z/data=!4m6!3m5!1s0x480f9c0e60fb9fa3:0x69270737af0dea09!8m2!3d47.6519675!4d-2.0881564!16s%2Fm%2F0crgkcc?entry=ttu"><img class="map-redon" src="https://zupimages.net/up/23/29/2trm.png" alt="" /></a>
  </div>
</div>
