.title-green {
  // justify-content: space-between;
  background: rgba(118, 230, 118, 0.514);
  display: flex;
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  width: 80%;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border-bottom: 1px solid green;
}

.title-green-big {
  // justify-content: space-between;
  background: rgba(118, 230, 118, 0.514);
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  width: 80%;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border-bottom: 1px solid green;
  padding: 15px;
  text-align: center;
}

.button-room {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.button-room:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.button-room:active {
	position:relative;
	top:1px;
}
