.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-alcamaya {
  // justify-content: space-between;
  background: rgba(76, 241, 76, 0.514);
  display: flex;
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  width: 80%;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border-bottom: 1px solid green;
}

.navbar-alcamaya a {
  text-decoration: none; /* Supprime l'effet de soulignement des liens */
}

.navbar-alcamaya a:visited {
  color: black; /* Définit la couleur des liens déjà visités */
}

.footer-alcamaya {
  background: rgba(76, 241, 76, 0.514);
  display: flex;
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  width: 80%;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border-top: 1px solid green;
}

// .logo-home {
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
//   margin-bottom: 30px;
//   position: relative;
// }

// .logo-home i {
//   margin-right: 10px;
//   width: 40px;
// }

// .logo-home p {
//   // margin-left: 20px;
//   text-align: left;
//   position: absolute;
//   left: 60px;
// }
.container {
  margin-bottom: 20px;
}

.container h1, .container h2, .container h3, .container p {
  margin: 0;
}

.container h1 {
  font-size: 36px;
  color: #333;
}

.container h2 {
  font-size: 24px;
  color: #333;
}

.container h3 {
  font-size: 20px;
  color: #333;
}

.container p {
  font-size: 16px;
  color: #666;
}

.container.title-green {
  background-color: #eaf8f1;
  padding: 10px;
  text-align: center;
}

.container.title-green-big {
  background-color: #eaf8f1;
  padding: 20px;
  text-align: center;
}

.container.container-green {
  background-color: #eaf8f1;
  padding: 20px;
}

.container.style-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.style-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo-display-green {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(164, 255, 164, 0.233);
  padding-top: 80px;
  padding-bottom: 80px;
}

.logo-display-white {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  padding-top: 80px;
  padding-bottom: 80px;
}

.logo-home {
  // display: flex;
  // align-items: center;
  margin-right: 30px;
  margin-bottom: 100px;
  height: 30px;
  font-size: 12px;
  width: 120px;
  justify-content: space-around;
}

.logo-home i {
  margin-left: 50%;
  margin-bottom: 20px;
}

.logo-home p {
  text-align: center;
}

.column {
  width: 50%;
}

.column p {
  margin-left: 10px;
}
